<!DOCTYPE html>
<html>
<head>
  <title>MusicApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if current_user %>
    <%= "You're logged_in as #{current_user.email}." %>
    <%= button_to name = "Log Out", session_url, method: :delete %>
  <% end %>
  <%= yield %>

</body>
</html>
